<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
<!--    &lt;!&ndash; 配置Servlet -->
<!--    <servlet>
        <servlet-name>demo01</servlet-name>
        <servlet-class>com.heima.web.ServletDemo01</servlet-class>

         &lt;!&ndash;配置何时创建Servlet &ndash;&gt;
        <load-on-startup>0-999999999</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>demo01</servlet-name>
        <url-pattern>/demo01</url-pattern>
    </servlet-mapping>&ndash;&gt;-->
</web-app>